/* MOVE THIS */

#scrolly {
    position: relative;
    padding: 1rem;
  }

  .scrolly-overlay {
    position: relative;
    padding: 0;
    max-width: 35rem;
    margin: 0 auto;
    color: black;
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .sticky-thing img {
    flex-grow: 1;
  }

  .step {
    margin: 0 auto 2rem auto;
    margin-bottom: 25rem;
    background-color: #cedb3d;
    max-width: 500px;
    border-radius: 10px; 
    border: 5px solid #cedb3d;
    /* opacity: 100%; */
  }

  .step p {
    text-align: center;
    color: black;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.3;
  }

  .step strong {
    color: #418a6a;
  }

  .hidden { visibility: hidden; }

  /* When it's less than 700 pixels wide, do normal scrollytelling */
  @media only screen and (min-width: 700px) {
    #scrolly.side-by-side {
      display: flex;
    }

    #scrolly.side-by-side > div {
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 0.75em;
    }

    #scrolly.side-by-side .scrolly-overlay {
      margin-top: 70vh;
      order: 0;
      /* Change these to adjust sizing options */
      min-width: 15rem;
      max-width: 20rem;
    }

    #scrolly.side-by-side .sticky-thing {
      order: 1;
      flex-grow: 2;
    }
  }

  #image-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    max-height: 100vh; /* Optionally, set a specific height to center vertically */
    min-width: 30vw;
    /* overflow: hidden; Hide any overflowing content */
  }
  
  #image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Scale the image to fit inside the container while preserving aspect ratio */
  }

/* BLAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */


.intro {
    font-family: 'Tektur';
    text-align: center;

}

.intro .main {
    font-family: 'Tektur';
    color: #50a882;
    font-size: 5em;
    line-height: 1.3;
    font-weight: 300;
    padding-top: 0.7em;
    margin: auto;
}

.intro .subheader {
  font-family: 'Space Mono';
  color: #cedb3d;
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 400;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 1200px;
  font-style: italic;
  font-size: 23px;
  margin: auto;
}

.intro .byline {
  font-family: 'Tektur';
  color: #50a882;
  font-size: 1.5em;
  font-weight: 400;
}


body {
    background-color: #000000;
    font-family: 'Space Mono';
    color: #cedb3d;
    background-size: 100%;
    padding-bottom: 100px;
    
  }
   
p {
    
    margin: 1.5rem 0;
    font-size: 12px;
    line-height: 1;
    font-family: 'Space Mono';
    color: #cedb3d;
    font-weight: 600;
}
.card{
    max-width: 20%;
}
.chart-notes {
    font-size: 15px;
    max-width: 800px;
    padding: 1rem;
    /* padding-top: 2rem; */
    margin: 0 auto;
    margin-bottom: 2rem;
    line-height: 18px;
    /* background-color: rgba(228, 179, 99, 0.1) */
}

  
.quote{
    margin: auto;
    max-width: 800px;
    font-size: 24px;
    line-height : 30px;
    margin-top: 70px;
    /* border-left: 3px solid #e4b363;
    padding-left: 15px; */

}

.main-body{
    font-size: 21px;
    line-height : 35px;
    margin: auto;
    max-width: 800px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.section-header{
    text-align: center;
    margin: auto;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Tektur';
    font-size: 40px;
    line-height: 1.3;
    font-weight: 900;
}

.link{
    padding-top: 5rem;
    padding-bottom: 0.2em;
    max-width: 700px;
    font-size: 11px;
    font-family: 'Space Mono';
    margin: 0 auto;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.caption {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: 2em;
    font-size: 14px;
}

.a {
  color: #50a882;
}


.spoiler, .spoiler2, .spoiler a, .spoiler2 a{ 
  color: #9AA5DB; 
  background-color: #9AA5DB;
}

.spoiler:hover, .spoiler:hover a {
  color: white;
}

.spoiler2:hover, .spoiler2:hover a { 
 background-color:whitesmoke; 
 color: black;
}

